@using System.Reflection
@using System.ComponentModel
@if (Collection != null)
{
    <table>
        <tr>
            @foreach(var displayNameAttribute in ColumnsAttributes[Type])
            {
                <th>@displayNameAttribute.DisplayName</th>
            }
        </tr>
        @foreach (var item in Collection)
        {
            <tr>
                @foreach (var property in ColumnsProperties[Type])
                {
                    <td>@property.GetValue(item)?.ToString()</td>
                }
            </tr>
        }
    </table> 
}

@code {
    [Parameter]
    public Type Type { get; set; }
    
    [Parameter]
    public IEnumerable<object> Collection { get; set; }

    private List<string> ColumnNames { get; set; }

    private static Dictionary<Type, List<string>> ColumnsForTypes { get; } = new();
    private static Dictionary<Type, IEnumerable<PropertyInfo>> ColumnsProperties { get; } = new();
    private static Dictionary<Type, IEnumerable<DisplayNameAttribute>> ColumnsAttributes { get; } = new();

    protected override void OnParametersSet()
    {
        SetCollumNames();
    }

    private void SetCollumNames()
    {
        if (ColumnsForTypes.TryGetValue(Type, out var savedNames))
        {
            ColumnNames = savedNames;
        }
        else
        {
            var propertyInfos = Type.GetProperties().Where(info => info.GetCustomAttribute<DisplayNameAttribute>() != null);
            var attributes = propertyInfos.Select(x => x.GetCustomAttribute<DisplayNameAttribute>());
            ColumnsAttributes.Add(Type, attributes);
            ColumnsProperties.Add(Type, propertyInfos);
            var namesForType =
                (from displayNameAttribute in attributes
                    where displayNameAttribute != null
                    select displayNameAttribute.DisplayName)
                    .ToList();
            ColumnsForTypes.Add(Type, namesForType);
            ColumnNames = namesForType;
        }
    }

}