@using Polaris.Application.Entities.Organizations
@using Polaris.Application.Entities.Users

<h3>My Organizations</h3>

<OrganizationsTable Collection="@UserOrganizations" Type="@typeof(Organization)"/>

@code {
    [Parameter]
    public IOrganizationContext OrganizationContext { get; set; }
    
    [Parameter]
    public User CurrentUser { get; set; }
    
    private IEnumerable<Organization> UserOrganizations { get; set; }

    protected override void OnInitialized()
    {
        if (CurrentUser != null && OrganizationContext != null)
        {
            UserOrganizations = OrganizationContext.UserOrganizations(CurrentUser);
        }
    }
}