@page "/Organizations"
@using Polaris.Application.Entities.Users
@using Polaris.Application.Entities.Organizations
@using Polaris.Web.Shared.Organizations
@inject IOrganizationContext OrganizationContext
@inject IUserService UserService

<h3>Organization</h3>
<div>
    <MyOrganizations CurrentUser="@CurrentUser" OrganizationContext="@OrganizationContext"/>
</div>
<div class="input-group mb-3">
    <div class="form-outline">
        <label class="form-label" for="form_name">Name</label>
        <input type="text" id="form_name" class="form-control" @bind="Current.Name" placeholder="Name"/>
    </div>
</div>

<button
    type="button"
    class="btn btn-primary"
    @onclick="SaveOrganization">
    Create Organization
</button>


@code
{
    Organization Current { get; set; }
    
    User CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await UserService.GetCurrentUser();
        SetCurrent();
    }

    private void SetCurrent()
    {
        Current = new Organization("", CurrentUser);
    }

    private void SaveOrganization()
    {
        OrganizationContext.Organizations.Add(Current);
        OrganizationContext.Organizations.TryCommitChanges();
        SetCurrent();
        StateHasChanged();
    }
}