@page "/Organizations"
@using Polaris.Application.Entities.Users
@using Polaris.Application.Entities.Organizations
@using Polaris.Web.Shared.Organizations
@inject IOrganizationContext OrganizationContext
@inject IUserService UserService

<div>
    <MyOrganizations CurrentUser="@CurrentUser" OrganizationContext="@OrganizationContext"/>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon" @bind="Current.Name">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="SaveOrganization">Create</button>
    </div>
</div>


@code
{
    Organization Current { get; set; }
    
    User CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await UserService.GetCurrentUser();
        SetCurrent();
    }

    private void SetCurrent()
    {
        Current = new Organization("", CurrentUser);
    }

    private void SaveOrganization()
    {
        OrganizationContext.Organizations.Add(Current);
        OrganizationContext.Organizations.TryCommitChanges();
        SetCurrent();
        StateHasChanged();
    }
}